html, body {
    width: 100%;
    height: 100%;
    background-color: gainsboro;
  }
  
  .content {
    /* margin: 10px; */
  }
  
  #element1 {
    height: 78px;
    /* top: 50px; */
    /* left: 100px; */
    background-color: #82ABC0;
  }
  
  #element2 {
    width: 80px;
    left: 230px;
    background-color: #FCD3E9;
  }